.taskCard {
  background-color: darkgrey;
  border-left: 5px solid black;
  border-radius: 0 5em 5em 0;
  display: flex;
  gap: 10px;
  margin: 10px;
  width: 600px
}

.statusPlace {
  display: flex;
  flex-direction: column;
}

.chosenStatus {
  background-color: blue;
}